<launch> 

	<node name="serial_node" pkg="rosserial_arduino" type="serial_node.py">
		<!-- Change the port name for Arduino Mega 2560 -->
		<param name="port" value="/dev/ttyACM0"/> 
	</node>

	<!-- <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" required="true" /> -->

</launch>
